body {
    margin: 0;
	background: #222;
	font-family: "Work Sans", sans-serif;
	font-weight: 300;
    width: 70%;
}
.container {

	width:80%;
	margin: 0 auto;
}

header {
	background: #55d6aa;
}

header::after {
		content: "";
		display: table;
		clear: both;
	
}


.logo {
	float: left;
}


nav {
	float: right;
}