body {
    margin: 0;
	background: #222;
	font-family: "Work Sans", sans-serif;
	font-weight: 300;
    width: 70%;
}
.container {

	width:80%;
	margin: 0 auto;
}


nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
