.navbar {
    opacity: 0.8;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-nav {
    align-items: center;
}

.very-small{
    font-size: 15px;
    letter-spacing: -0.03em;
    opacity: 0.7;
}