.jumbotron {
    background-image: url('/public/images/orion.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.jumbotron--container {
    width: 100%; 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center !important; 
    align-items: center !important;
    color: white !important;
    opacity: 80% !important;
}

.jumbotron--container > h1 {
    font-weight: 200  !important;
    font-size: 70px  !important;
}