.page--container {
    min-height: 70vh;
    max-width: 800px;
    justify-content: flex-start;
    align-items: center;
}

.title {
    padding: 20px;
    text-align: center;
    font-weight: 100 !important;
    font-size: 60px;
}

.wrapper {
    width: 100%;
    height: 100%;
}
